@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Designed By : Amirreza Yadollahibastani </p>
<p>Email: atnniya@gmail.com </p>
<p>Github: <a href="https://github.com/atnn">Here</a> </p>
<p>Professor: Richard Chan </p>
<p>Date: 11 Nov 2017  </p>
