@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Amir Shopping List</h1>
    <p class="lead">Simple usuful shopping list that help keep you track of your daily food</p>
</div>

<div class="row">

</div>